// TODO stillingar hér
$black: #000000;
$white: #fffcf2;
$redOrange: #ff5000;
$blue: #00b7ff;
$grunnstaerd: 16px;
$gutter: 20px;

@mixin headerP(){
    font-size: $grunnstaerd;
    margin: $gutter/2;
  }
  @mixin headerA($color){
    color: $color;
    text-decoration: none;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
  
  @mixin uppermain($order) {
    @media screen and (min-width: 800px) {
      order: $order;
      padding-top: $gutter*2;
    }
  }
  @mixin form($width) {
    height: $gutter*2;
        border: 1px solid $black;
        border-radius: 5px;
        width: $width;
  }