// TODO stillingar hér
$black: #000000;
$orange: #fffcf2;
$redOrange: #ff5000;
$blue: #00b7ff;
$grunnstaerd: 16px;
$gutter: 20px;

@mixin headerP(){
    font-size: $grunnstaerd;
    margin: 12px;
  }
  @mixin headerA($color){
    color: $color;
    text-decoration: none;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }