@media screen and (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px; } }

.main__img {
  width: 100%; }
  @media screen and (min-width: 800px) {
    .main__img {
      margin-top: 60px; } }

.main h2 {
  font-size: 36px;
  font-family: 'Oswald', sans-serif; }

.main--nsh2 {
  margin-top: 40px;
  margin-bottom: 40px; }

.main p {
  font-size: 24px;
  margin-bottom: 40px; }
  @media screen and (min-width: 800px) {
    .main p {
      margin-bottom: 0px; } }

.main__greidsla, .main__almennt {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between; }
  @media screen and (min-width: 800px) {
    .main__greidsla, .main__almennt {
      margin-bottom: 0px;
      display: grid;
      grid-template-columns: 1fr; } }

.main__btn {
  width: 100%;
  display: flex;
  justify-content: center; }

.main button {
  margin-bottom: 20px; }

@media screen and (min-width: 800px) {
  .main__btn {
    grid-column: 1/3;
    justify-content: center; } }

.main--guh2 {
  margin-bottom: 10px; }
  @media screen and (min-width: 800px) {
    .main--guh2 {
      margin-bottom: 20px; } }

.main--auh2 {
  margin-bottom: 10px; }
  @media screen and (min-width: 800px) {
    .main--auh2 {
      margin-bottom: 20px; } }

.main__rc {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.main__input {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 300px; }
  @media screen and (min-width: 800px) {
    .main__input {
      height: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 220px;
      margin-right: 40px; } }
  @media screen and (min-width: 1000px) {
    .main__input {
      height: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 340px;
      margin-right: 100px; } }

.main__course {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 300px; }
  @media screen and (min-width: 800px) {
    .main__course {
      height: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 180px;
      margin-right: 40px; } }
  @media screen and (min-width: 1000px) {
    .main__course {
      height: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 340px;
      margin-right: 100px; } }

.main__month {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 50px; }
  @media screen and (min-width: 800px) {
    .main__month {
      margin-right: 0px; } }
  @media screen and (min-width: 1000px) {
    .main__month {
      margin-right: 0px; } }

.main__year {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 68px; }
  @media screen and (min-width: 800px) {
    .main__year {
      margin-right: 40px; } }
  @media screen and (min-width: 1000px) {
    .main__year {
      margin-right: 100px; } }
