@import 'scss/config.scss';

.main{
    @media screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:$gutter;
        grid-row-gap:$gutter*2;
    }
    &__img{
        width: 100%;
       
        @media screen and (min-width: 800px){
            margin-top: $gutter*3;
        }
      }
      
    h2{
        font-size: 36px;
        font-family: 'Oswald', sans-serif;
    }
    &--nsh2{
        margin-top: $gutter*2;
        margin-bottom: $gutter*2;
    }
    p{
        font-size: $grunnstaerd*1.5;
        margin-bottom: $gutter*2;
        @media screen and (min-width: 800px){
            margin-bottom: 0px;
        }
    }
    &__greidsla, &__almennt{
        margin-top: $gutter;
        margin-bottom: $gutter;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        @media screen and (min-width: 800px){
            margin-bottom: 0px;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    &__btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    button{
        margin-bottom: $gutter;
    }
    &__btn{
        @media screen and (min-width: 800px){
            grid-column: 1/3;
            justify-content: center;
        }
    }
    &--guh2{
        margin-bottom: $gutter/2;
        @media screen and (min-width: 800px){
            margin-bottom: $gutter;
        }
    }
    &--auh2{
        margin-bottom: $gutter/2;
        @media screen and (min-width: 800px){
            margin-bottom: $gutter;
        }
    }
    &__rc{
        margin-bottom: $gutter;
        display: flex;
        justify-content: space-between;
    }
    &__input{
        @include form($gutter*15);
        @media screen and (min-width: 800px) {
            @include form($gutter*11);
            margin-right: $gutter*2;
        }
        @media screen and (min-width: 1000px) {
            @include form($gutter*17);
            margin-right: $gutter*5;
        }
    }
    &__course{
        background-color: transparent;
        @include form($gutter*15);
        @media screen and (min-width: 800px) {
            @include form($gutter*9);
            margin-right: $gutter*2;
        }
        @media screen and (min-width: 1000px) {
            @include form($gutter*17);
            margin-right: $gutter*5;
        }

    }
    &__month{
        background-color: transparent;
        @include form($gutter*2.5);
        @media screen and (min-width: 800px){
            margin-right: $gutter*0;
        }
        @media screen and (min-width: 1000px) {
            margin-right: $gutter*0;
        }
    }
    &__year{
        background-color: transparent;
        @include form($gutter*3.4);
        @media screen and (min-width: 800px){
            margin-right: $gutter*2;
        }
        @media screen and (min-width: 1000px) {
            margin-right: $gutter*5;
        }
    }
    &__skra{
        width: $gutter*12;
    }
    
}