@import "scss/config.scss";
@import "product.scss";
 
// fyrir hverja vöru
.product {
    display: flex;
    height: 100%;
    flex-direction: column;
 
    &__mynd {
      margin-bottom: $gutter;
    }
 
    &__efni {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
 
    &__texti {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
 
    &__titill {
      margin-bottom: $gutter * 0.5;
      font-family: $font-heading;
      font-size: 2.25rem;
      font-weight: 600;
    }
 
 
    &__lysing {
      flex: 1;
      margin-bottom: $gutter * 0.5;
    }
 
    &__price {
      margin-bottom: $gutter;
      font-family: $font-heading;
      font-size: 1.5rem;
      font-weight: 600;
    }
 
    &__meta {
      display: flex;
      align-items: flex-end;
    }
 
    &__label {
      margin-right: $gutter * 0.5;
      flex: 1;
    }
 
    &__input {
      width: 100%;
      padding: 10px;
      margin-right: $gutter * 0.5;
      font-size: 1rem;
      border: 1px solid #000;
      border-radius: 3px;
    }
 
    &__button {
      padding: 10px;
      padding-left: 40px;
      margin-right: 10px;
 
      font-size: 1rem;
      white-space: nowrap;
      cursor: pointer;
 
      background-image: url("img/cart.svg");
      background-repeat: no-repeat;
      background-position: 10px 50%;
      background-size: 20px;
 
      border: 1px solid #000;
      border-radius: 3px;
 
      transition:
        background-color $transition,
        border-color $transition;
 
      &:hover {
        background-color: $color-4;
        border-color: $color-4;
      }
 
      &:last-child {
        margin-right: 0;
      }
    }
  }