.main {
  padding: 0px; }
  @media screen and (min-width: 800px) {
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; } }

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 700px;
  border: none;
  perspective: 1000px; }
  @media (min-width: 1000px) {
    .flip-box {
      width: 500px; } }

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  transition-duration: 200ms; }

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.flip-box-front {
  background-color: #bbb;
  color: black; }

.flip-box-back {
  background-color: white;
  color: black;
  padding-top: 50%;
  transform: rotateY(180deg);
  transition-duration: 200ms; }

.flip-box-img {
  width: 100%;
  height: 100%; }

.flip-box-header {
  font-size: 24px;
  padding-bottom: 10px;
  font-family: 'Open sans', sans-serif; }

.flip-box-text {
  font-size: 18px; }
