@import "scss/config.scss";

.main{
    display: grid;
    
    padding: 0px;
    margin-bottom: $gutter*2;
    @media screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $gutter;
    }
}

.flip-box {
    background-color: transparent;
    display: grid;
    width: 100%;
    height: 100%;
    border: none;
    perspective: 1000px;
  }

  .flip-box::before{
    display: block;
    content: "";
    padding-top: 150%;
  }
  
  .flip-box__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: $gutter;
  }
  
  .flip-box:hover .flip-box__inner {
    transform: rotateY(180deg);
    transition-duration: 200ms;
  }
  
  .flip-box__front, .flip-box__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box__front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box__back {
    background-color: white;
    color: black;
    padding-top: 50%;
    transform: rotateY(180deg);
    transition-duration: 200ms;
  }
  
  .flip-box__front__img {
    width: 100%;
    height: 100%;
  }
  
  .flip-box__back__h5 {
    font-size: 24px;
    padding-bottom: $gutter*0.5;
    font-family: 'Open sans', sans-serif;
  }
  
  .flip-box__back__p {
    font-size: 18px;
  }