@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  max-width: 1200px;
  font-size: 16px;
}

header {
  //Þarf að laga position og fleira með staðsetningu
  background-color: $redOrange;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header a {
  color: black;
  text-decoration: none;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.header a:hover {
  color: white;
}

.header h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 50px;
  padding-right: 50px;
}

.header h2{
  display: inline;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


// TODO sækja allar sass skrár
// @import "scss/...";
