@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar

  font-size: $grunnstaerd;
}
p {
  font-family: 'Open sans', sans-serif;
}

header {
  //Þarf að laga position og fleira með staðsetningu
  background-color: $redOrange;
  display: flex;
  justify-content: center;

}
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  &__menu{ //Allt tengt .header class
  padding-bottom: 1%;
    a {
        color: black;
        text-decoration: none;
        transition-property: color;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        &:hover {
        color: white;
          }
        }
    h1 {
        font-size: $grunnstaerd * 3.75;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        }
    p {
      display: inline;
      font-size: $grunnstaerd;
      margin: 5px;
      font-size: $grunnstaerd ;
      }
    }
  
  }

.container {
  max-width: 1200px;
}



// TODO sækja allar sass skrár
// @import "scss/...";
