@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar

  font-size: $grunnstaerd;
}

p {
  font-family: 'Open sans', sans-serif;
}
//Hér er hausinn
header {
  background-color: $redOrange;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 699px) {
    width: 100vw;
  }

}
.header{ //Allt tengt .header class
  display: grid;
  width: 100%;
  max-width: 1200px;
  @media screen and (max-width: 699px) { // utlit fyrr .header í < 700px
    grid-template-columns:100%;
    width: auto;
  }
  @media screen and (min-width: 700px){ //utlit fyrir .header fyrir <= 1000px
    grid-template-columns: 84.5% 15.5%;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 91% 9%;
  }
  &__h1--h1 {
    font-size: $grunnstaerd * 3.75;
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }

  &__p--p  {
  font-weight: bold;
  @media screen and (min-width: 700px) {
    @include headerP;
      margin-bottom: 0px;
    }
    @media screen and (max-width: 699px) {
      @include headerP;
      margin-bottom: -$gutter/2;
    }
    @media (min-width: 1000px) {
      @include headerP;
    }
  }
   
  &__menu{ // header__menu class í html
    padding-bottom: $gutter;
    display: grid;
    grid-template-columns: 1fr;
      a {
          @include headerA($black);
      &:hover {
        color: $white;
      }
      }
    }
      &__c{
        @include headerP;
        @include headerA($black);      
        font-weight: bold;
      }
      &__h1{
        @media (min-width: 1000px) {
          margin-left: 9%;
        }
        @media screen and (max-width:699px){
          margin-left: 0%;
        }
        @media screen and (min-width:700px){
          margin-left: 15.5%;
        }
      }
      &__p{
        display: flex;
        justify-content: center;
        @media screen and (max-width:699px){
          margin-left: 0%;
        }
        @media screen and (min-width:700px){
          margin-left: 15.5%;
          display: grid;
          grid-template-columns: min-content min-content min-content;
        }
        @media (min-width: 1000px) {
          margin-left: 9%;
          display: flex;
          grid-template-columns: none;
        }
      }
      &__lastspan{
        @media screen and (min-width: 700px) {
          grid-column: 1/4;
        }
        @media (min-width: 1000px) {
          grid-column: none;
        }
      }
      &__p--sf{
        @media screen and(min-width: 700px) {
          text-align: center;
          margin-top: 0px;
        }
        @media (min-width: 1000px) {
          text-align: left;
          margin-top: $gutter/2;
        }
      }
      &__cart{
        display: flex;
        align-self:flex-end;
        padding-bottom: $gutter;
        a:hover {
          color: $white;
            }
        @media screen and (max-width:699px){
          text-align: center;
          justify-content: center;
        }
        
      }
      .cart__img{
        padding-bottom: $gutter/2;
      }
  }

  //Fótur
  footer{
    background-color: $blue;
    
    width: 100vw;
    display: flex;
    justify-content: center;
    height: auto;
  }
  .footer{
    display: grid;
    width: 100%;
    max-width: 1200px;
    padding-top: $gutter;
    padding-bottom: $gutter*3;
    justify-content: center;
    @media screen and(max-width:699px) {
      grid-template-columns: 1fr 1fr;
      padding-left: $gutter;
    }
    @media screen and(min-width:700px) {
      grid-template-columns: 1fr 1fr;
      padding-left: $gutter;
    }
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-left: 0;
    }
    &__h4{
      font-weight: bold;
      font-size: $grunnstaerd * 1.325;
      padding-bottom: $gutter/2;
    }
    &__section{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__merki{
      display: flex;
      justify-content: center;
      grid-column: 1/5;
      padding-top: $gutter;
      padding-bottom: $gutter;
      font-size: 12px;
      position: absolute;
      bottom: 0;
    }
    &__merki + p{
      text-align: center;
    }
    &__div + p{
      margin: 0px;
    }
    
    &__div{
      display: grid;
      padding-bottom: $gutter;
      
      a{
        @include headerA($white);
        &:hover{
          color: $black;
        }
      }
    }
    
  }

.main {
  max-width: 1200px;
  height: 100%;
}
.container{
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
}

/*                    FLIP BOX FYRIR STARFSMENN

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

*/


// TODO sækja allar sass skrár
// @import "scss/...";
